[submodule "vtrc"]
	path = vtrc
	url = https://github.com/newenclave/vtrc
	branch = master
[submodule "lua"]
	path = lua
	url = https://github.com/newenclave/lua
	branch = master
[submodule "srpc"]
	path = srpc
	url = https://github.com/newenclave/srpc
	branch = master
